/* index.html */

* {
  font-family: verdana, arial, eurpoa, sans-serif;
}

.body_container {
  margin-top: 10px;
}

body {
  background-color: #F1F0FF;
}

.jumbotron {
  background-color: #9933FF;
  color: #F1F0FF;
  margin-top: 0;
  padding-left: 15px;
  font: courier;
  border-radius: 20px;
}

.jumbotron_container {
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  border-radius: 20px;
}

.jumbotron_container p {
  padding-left: 20px;
}


.rows_container {
  align-content: center;
  width: 100%;
  padding-left: 90px;
  padding-right: -20px;

}

.row {
  align-content: center;
  padding: 10px -20px 10px 40px;
  width: 100%;
}

.col_icon {
  width: 40px;
  display: block;
  margin: auto;
}

.col-md-4 {
  height: 450px;
  width: 30%;
  padding-top: 20px;
  padding-left: 10px;
  margin-left: 10px;
  margin-right: ;
  border: 2px dotted silver;
  border-radius: 20px;
}

.col-md-4 p, h2, ul {
  text-align: center;
}

.col_title {
  color: #4D0F28;
}

.list_title {
  color: #9933FF;
}

.bulletless {
  list-style-type: none;
  padding-left: 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:active {

}


/* NAVBAR */
#navbar {
  background-color: #333;
  position: absolute; /* Make it stick/fixed */
  height: 50px;
  top: 0;
  width: 100%;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

#navbar a {
  float: left;
  display: block;
  color: #9933FF;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#skronny {
  margin:
}
