/* index.html */

* {
  font-family: verdana, arial, eurpoa, sans-serif;
}

.jumbotron {
  background-color: #9933FF;
  color: white;
  margin-top: 0;
  padding-left: 15px;
  font: courier;
}

.container {
  margin-top: 10px;
  padding-left: 30px;
  width: 100%;
  border-radius: 20px;
}

body {
  background-color: #F1F0FF;
}

.col_icon {
  padding-top: 20px;
  width: 40px;
  align: center;
}

.col-md-4 {
  height: 450px;
  padding-left: 20px;
  border: 2px dotted silver;
  border-radius: 20px;
}

/* still trying to fix the alignment of anything in the col-md-4 
    I'm not a fan of the way the list is off to the right side
            related to .bulletless class */
.col-md-4 p, h2, ul {
  text-align: center;
}

.col_title {
  color: #4D0F28;
}

.list_title {
  color: #9933FF;
}

.bulletless {
  list-style-type: none;
}

/* NOT A FAN of the scroll down. stops working, doesnt disappear */

#navbar {
  background-color: #333;
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; 
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}


/* Style the navbar links */
#navbar a {
  float: left;
  display: block;
  color: #9933FF;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#skronny {
  margin:
}
